alias vi='vim'
alias be='bundle exec'
alias ls='ls -F'
alias gc='git ci -p'
alias gci='echo "Use gc!!!" && git ci -p'
alias gca='git ci -p --amend'
alias ga='git aa'
alias gf='git fetch'
alias gs='git show'
alias gl='git log'
alias retag='ctags -R --exclude=.svn --exclude=.git --exclude=log *'
alias pd='pushd'
alias gv='gitvim'
alias rbd='bundle exec rake db:drop:all db:create db:migrate db:test:prepare'
alias d='pushd ~/.dotfiles'
alias ts='be rake db:seed RESET_TEST_DATA=true'
alias rst='powify server stop && rbd && echo "Seeding..." && ts && powify server start'
alias v='pushd ~/.vim'
alias tw='find . ! -path "./.git/*" ! -path "./tmp/*" ! -path "./public/*" ! -path "./log/*" -type f -exec egrep -l " +$" {} \;'
