alias vi='vim'
alias be='bundle exec'
alias ls='ls -F'
alias gc='git ci -p'
alias gci='echo "Use gc!!!" && git ci -p'
alias gca='git ci -p --amend'
alias ga='git aa'
alias gf='git fetch'
alias gs='git show'
alias retag='ctags -R --exclude=.svn --exclude=.git --exclude=log *'
alias pd='pushd'
alias gv='gitvim'
alias rbd='bundle exec rake db:drop:all db:create db:migrate db:test:prepare'
alias d='pushd ~/.dotfiles'
