!bin/
!.gitconfig
!.bashrc
!.git-*
!.login
!.*
tags
.ruby-version
.CFUserTextEncoding
.DS_Store
.Xauthority
.bash_history
.dropbox/
.gvimrc
.netrc
.nvm/
.vim/
.viminfo
.vimrc
.zprofile
.zshrc
.lesshst
*.swp
.rvmrc
tmp
.powenv
.rspec
